.tile{
    /* width and height not needed, since grid area is new area for percents */
    background-color: gray;

    box-sizing:border-box;
    border:1px solid black;
}


.BLOCK {
    background-color: black;
}
.MARKER{
    background-color:red;
}
.MONSTER{
    background-color:green;
}
.TREASURE{
    background-color:gold;
}