.tile{
    /* width and height not needed, since grid area is new area for percents */
    background-color: gray;

    box-sizing:border-box;
    border:1px solid black;
}


.block {
    background-color: black;
}
.marker{
    background-color:red;
}
.monster{
    background-color:green;
}
.treasure{
    background-color:gold;
}